<div ng-controller="AppCtrl as vm" layout="column" layout-margin style="padding:25px;" ng-cloak>
    <div layout="row" layout-align="center center" layout-sm="column">
        <div flex="33" layout="column" layout-align="center center">
            <h3>Current</h3>
            <md-progress-circular md-mode="determinate" value="{{vm.determinateValue}}" md-diameter="{{vm.diameter}}"></md-progress-circular>
        </div>

        <div flex="33" layout="column" layout-align="center center">
            <h3>SVG Arc</h3>
            <md-progress-circular-new value="{{vm.determinateValue}}" md-diameter="{{vm.diameter}}"></md-progress-circular-new>
        </div>

        <div flex="33" layout="column" layout-align="center center">
            <h3>Stroke-dasharray</h3>
            <md-progress-circular-new stroke-dasharray value="{{vm.determinateValue}}" md-diameter="{{vm.diameter}}"></md-progress-circular-new>
        </div>
    </div>
</div>
